{% extends "base.html" %}
{% block content %}

<section id="content" class="body">
  <header>
  <hr>
    <h2 class="entry-title pagination-right">
      <a href="{{ article.url }}#disqus_thread" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  
  <footer class="post-info pagination-right">
    <abbr class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </abbr>
    {% if article.author %}
    <address class="vcard author">
      By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
    </address>
    {% endif %}
    {% if article.tags %}<p>tags: {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% endfor %}</p>{% endif %}
    <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">comments</a>
  </footer><!-- /.post-info -->
  <hr>
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
  <hr>
      <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'epydial'; // Required - Replace example with your forum shortname
var disqus_developer = 1; // developer mode is on
var disqus_identifier = "{{ article.url }}";
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    
</section>
{% endblock %}
